@use "sass:math";

$cube-h: 3vw;
$cube-w: 25vw;
$cube-z: 8vw;

.book,
.book.cube {
  transform-style: preserve-3d;
}

body {
  margin: 0;
  padding: 4rem 2rem 15rem 2rem;
  background: #F7F1EA;
  overflow-x: hidden;
}

/* Cube mixin credit: @rolivaalonso */
@mixin cuboid($x, $y, $z) {
  &.front {
    @include cube-face($x, $y, $z);
  }
  &.back {
    @include cube-back($x, $y, $z);
  }
  &.right {
    @include cube-right($x, $y, $z);
  }
  &.left {
    @include cube-left($x, $y, $z);
  }
  &.bottom {
    @include cube-bottom($x, $y, $z);
  }
  &.top {
    @include cube-top($x, $y, $z);
  }
}

@mixin cube-face($x, $y, $z) {
  width: $x;
  height: $y;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotateX(-90deg) translateZ(-($y - ($z * 2)));
          transform: rotateX(-90deg) translateZ(-($y - ($z * 2)));
}

@mixin cube-back($x, $y, $z) {
  width: $x;
  height: $y;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotateX(-90deg) rotateY(180deg) 
    translateX(-$x) translateY(-$y);
          transform: rotateX(-90deg) rotateY(180deg) 
    translateX(-$x) translateY(-$y);
}

@mixin cube-right($x, $y, $z) {
  width: $z * 2;
  height: $y;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ($x) translateX(-$z * 2) translateY(-$y);
          transform: rotateY(90deg) rotateZ(-90deg) translateZ($x) translateX(-$z * 2) translateY(-$y);
}

@mixin cube-left($x, $y, $z) {
  width: $z * 2;
  height: $y;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(-$y);
          transform: rotateY(-90deg) rotateZ(90deg) translateY(-$y);
}

@mixin cube-top($x, $y, $z) {
  width: $x;
  height: $z * 2;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: translateZ($y);
          transform: translateZ($y);
}

@mixin cube-bottom($x, $y, $z) {
  width: $x;
  height: $z * 2;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotateY(180deg) translateX(-$x);
          transform: rotateY(180deg) translateX(-$x);
}

.book {
    @include cuboid($cube-w, $cube-h, $cube-z);
    width: $cube-w;
  height: $cube-h;
  transform: perspective(9999px) rotateX(53deg) rotateZ(-50deg);
  transform: perspective(9999px) rotateX(53deg) rotateZ(-60deg);
  top: -50%;
  left: -50%;
}

.cube {
  @include cuboid($cube-w, $cube-h, $cube-z);
  width: $cube-w;
  height: $cube-h;
  transform: perspective(9999px) rotateX(53deg) rotateZ(-50deg);
  transform: perspective(9999px) rotateX(53deg) rotateZ(-60deg);
  top: -50%;
  left: -50%;
  margin-bottom: 2.25rem;
  
  &.front, &.back,
  &.right, &.left,
  &.top, &.bottom {
    background-color: #111;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
 }
  
 &.left,
 &.right {
    --b: .5;
    border-bottom: 3px solid #111;
    border-bottom: calc(var(--b) * 1vmin) solid #111;
    border-left: 3px solid #111;
    border-left: calc(var(--b) * 1vmin) solid #111;
    border-right: none;
    background: repeating-linear-gradient(to bottom, #eee 30%, #AAA 32%);
    background: repeating-linear-gradient(to bottom, #eee 20%, #ccc 32%);
    background: repeating-linear-gradient(to bottom, #eee 20%, #bbb 30%);
  }
  
  &.front,
  &.bottom {
    --b: .6;
    border-bottom: 3px solid #111;
    border-bottom: calc(var(--b) * 1vmin) solid #111;
    background: repeating-linear-gradient(to bottom, #fff 30%, #ddd 32%);
    background: repeating-linear-gradient(to bottom, #eee 20%, #bbb 40%);
  }
  
  &.top {
    --b: .6;
    transform: rotate(90deg) translateZ(3vw);
    background-size: 100% 100%;
    background-color: #111;
    top: -50.5%;
    left: 51%;
    width: math.div($cube-w, 1.54);
    height: $cube-h * 8.45;
    border-radius: 1px;
    border: calc(var(--b) * 1vmin) solid #111;
  }

  &.back {
    background: #111;
  }

  &:hover {
    cursor: pointer;
  }

  .cover-img {
    width: 100%;
    height: 100%;
  }
}

.book-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  row-gap: 16rem;

  li {
    margin: 1rem;
  }
}
